<div class="row">
	<div class="col-xs-7 col-xs-offset-5">
		<h1> Welcome to Contourz </h1>
	</div>
	<br>
	<br>
	<br>
	<div class="col-xs-9 col-xs-offset-3">
	<h3>
	Blind contour drawing is a drawing exercise, where an artist draws the contour of a subject without looking at the paper. 
	</h3>
	</div>
</div>