<div class = "container">
	<div class="col-xl-1 col-offset-centered">
	<br>
	<h1> Welcome to Contourz </h1>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="col-xl-1 col-offset-centered" id="explainer">
		<h3>
		Blind contour drawing is a drawing exercise, where the artist draws the contour of a subject without looking at the paper. In this forum you will be given a random amount of time to perfect your technique. Sign up to begin drawing. Have fun, and good luck!
		</h3>
	</div>
</div>