<h1> Welcome to the Mobile Drawing Test Page </h1>

<div class ="row">
	<div class ="col-md-3 col-xs-12" style="background: pink; margin-left:20px;"><br><br> &nbsp &nbsp &nbsp&nbsp00:00<br></div>
</div>
<div class="row">
	<div class="col-sm-2">
		<div class="row">
			<div class="col-sm-3"><div id="inside" style="background: yellow; margin-left:40px;"><br><br>IMG WILL GO HERE<br></div></div>
			<div class="col-sm-1"><div id="options2" style="background: blue; margin-left:40px;"><br><br>Options go here<br></div></div>
		</div>
	</div>
	<div class="col-sm-10">
		<div id = "thacanvas" style="background: magenta; margin-left:20px;">
		THIS IS WHERE THE CANVAS GOES
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		</div>
	</div>
</div>
