<style>
#mobileCanvases{
	display: block;
	padding: 0;
	margin: auto;
	width: 320px;
	}
#mobileCanvases > canvas {
    position: absolute;
    cursor:crosshair;
}
.mPhoto{
	margin-left: auto;
	margin-right: auto;
}
.mDraw{
	padding-left: auto;
	padding-right: auto;
}

img#mobileRefPhoto{
	margin-left: auto;
	margin-right: auto;
}
.mOptions {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	margin-top: 4px;
}
#saveButtons{
	padding-left: 120px;
}
#drawButtons{
	padding-left: 120px
}
.circle{
	border-radius: 50%;
	behavior: url(PIE.htc);
	width: 20px;
	height: 20px;
	border: 1px solid;
}
.thick {
	width: 20px;
	height: 17px;
	background: gray;
	border-style: solid;
	border-width: 1px;
	margin-right: 6px;
}
.l-box {
	margin-top: 5px;
	padding: 5px;	
}
.pure-g{
	padding-left: 12%;
	padding-right: 12%;
}
#colors{
	margin-top: 2px;
	margin-left: auto;
	margin-right: auto;
}
#strokes{
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}
.circle{
	margin-left: 10px;
}
#mCanvasBottom{
	background: white;
	border-style: dashed;
	border-width: 1px;
}
#countdown{
	background-color: black;
	border-radius: 25px;
	opacity: .75;
	color: white;
	font-family: helvetica !important;
	text-align: center;
	margin-bottom: 5px;
}

</style>
<!-- http://i68.tinypic.com/jaewd4.png" -->
<div class="mDraw pure-g">
	<div class="pure-u-24-24" id="countdown">
	minutes:   seconds:  
	</div>
</div>
<div class="mDraw pure-g">
	<div class="mPhoto pure-u-24-24">
		<%= image_tag @photo.url, "data-photo": @photo.id, class: "pure-img", id: "mobileRefPhoto"%>
	</div>
</div>
<div class="mOptions pure-g">
		<!-- <div class="pure-u-1-2"> -->
		<div id = "drawButtons" class="l-box">
			<button type='button' id='skip' class="btn btn-warning">Skip</button>&nbsp
			<button type='button' id='draw' class="btn btn-danger">Draw</button>
		</div>
		<div id = "saveButtons">
			<button type='button' id="skipSave" class="btn btn-warning">Next</button>&nbsp
			<button type='button' id='saveDrawing' class="btn btn-success">Save</button>
		</div>
	<!-- 	</div> -->
	<div id="colors" class="pure-1-2">
		<div class="circle pure-u-1-5" data-fill="#2F2F32">
		</div>
		<div class="circle pure-u-1-5" data-fill="#FF3340">
		</div>
		<div class="circle pure-u-1-5" data-fill="#1C4DE4">
		</div>
		<div class="circle pure-u-1-5" data-fill="#FFFF00">
		</div>
		<div class="circle pure-u-1-5" data-fill="#FFFFFF">
		</div>
	</div>
	<div id="strokes" class="pure-1-2">
		<div class="thick pure-u-1-3" data-stroke="1" data-height="10">
		</div>
		<div class="thick pure-u-1-3" data-stroke="3" data-height="15">
		</div>
		<div class="thick pure-u-1-3" data-stroke="8" data-height="20">
		</div>	
	</div>
</div>

	<div id="mobileCanvases">
		<canvas id="mCanvasBottom" width=320 height=280></canvas>
		<canvas id="mCanvasTop" width=320 height=280></canvas>

	</div>
