<div class="row">	
	<div class="col-xs-8 col-xs-offset-4">
		<h1>Let's Draw!</h1>
	</div>
</div>
<div id="refImage">
	<div class="container">
	<%= image_tag @photo.url, "data-photo": @photo.id, id: "photoRef"%>
	</div>
</div>
<div class="row">
	<div class="col-xs-10 col-xs-offset-2">
	<span id="time">00:00</span>
		<h1 id="go">GO!</button>
	 </h1>
</div>
	 </div>
</div>
<div class="container">
	<div id = "paint">
		<canvas id="drawCanvas"></canvas>
	</div>
</div>
<div class="row">
	<div class="col-xs-8 col-xs-offset-4">
	<div id="options">
		colors   
		<svg id= "redCircle" height="15" width="15" data-fill="#FF3340">
			<circle cx="7" cy="7" r="7" />
		</svg>
		<svg id= "blueCircle" height="15" width="15" data-fill="#1C4DE4">
			<circle cx="7" cy="7" r="7" />
		</svg>
		&nbsp thickness   
		<svg width="20" height="9" class="fat">
		<rect width="14" height="9"/>
		</svg>
		<svg width="20" height="5" class="med">
		<rect width="14" height="6"/>
		</svg>
		<svg width="20" height="5" class="thin">
		<rect width="14" height="3"/>
		</svg>
	</div>
	</div>
<h1 id = "clicker"> click this </h1>
<button type="button" disabled>next</button>
<div class="row">
	<div class="col-xs-2 col-xs-offset-10" id="sessionButtons">
	</div>
</div>





