<div class = "row">
	<div class="col-xs-7 col-xs-offset-5">
		<h1>Galleries</h1>
	</div>

<div class="col-xs-7 col-xs-offset-5" id="gallList">

<% @galleries.each do |g| %>
	<h3><%= link_to g.theme, action: "show", id: g.id %></h3>
<% end %>
</div>
</div>