<h1>Welcome to the Renditions Page</h1>
<h2> this was the last drawing created 
<%= image_tag @lastdrawing.image.url %>
<%= @lastdrawing.image.url %>
</h2>
<div class="container">
	<div class ="row">
		<div class="col-md-offset-2 col-md-4">
			<%= image_tag @original.url %>
		</div>
	</div>
</div>
<div class="owl-carousel" id="slides">
	<% @renditions.each do |d| %>
  		<div><%= image_tag d.image.url %></div>
  	<% end %>
</div>