
<div class = "container">
	<div class="col-xl-1 col-offset-centered">
	<h1><%= @gallery.theme %></h1> 
		<div id = "galleryPic">
			<% @photos.each do |p| %>
			<div class= "col-sm-3 col-sm-offset-1"><%= link_to image_tag(p.url, id: "reference"), renditions_path(p.id) %></div>
				<br>
			<% end %> 
		</div>
	</div>
</div>


