/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require owl.carousel
 *= require owl.theme
 */
.pure-g { 
	letter-spacing: normal !important;
}
body, body * {
	font-family: 'Amatic SC', Helvetica !important;
}
body{
	background-image: url("http://i64.tinypic.com/1zz515f.jpg");
}
.navbar a{
	font-size: 22px;
}
input:placeholder-shown {
  	font-family: Helvetica !important;
	size: 10px;
}
#login input[type="text"]{
	font-family: Helvetica !important;
	margin:5px;
}
#login input[type="password"]{
	font-family: Helvetica !important;
	margin:5px;
}
#submit{
	font-family: Helvetica !important;
	margin:5px;
}
#signup input[type="text"]{
	font-family: Helvetica !important;
	margin:5px;
}
#signup input[type="password"]{
	font-family: Helvetica !important;
	margin:5px;
}
button {
	font-size: 22px !important;
}
#explainer{
	font-weight: 700;
	background: white;
	border-style: dashed;
	padding: 15px;
	letter-spacing: 1px;
}


