// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#reference{
	max-width: 250px;
	max-height: 300px;
}
.owl-carousel{
	border-style:dashed;
	background: white;
}
#gallList a{
	font-size: 36px;
	color: red;
}